---
extends: default

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  comments: disable
  comments-indentation: disable
  line-length:
    max: 160
    level: warning
  truthy:
    allowed-values: ['true', 'false', 'True', 'False']
  indentation:
    spaces: 2
    indent-sequences: true
