set daemon 2
set logfile /var/log/monit.log
set idfile /var/lib/monit/id
set statefile /var/lib/monit/state
set pidfile /var/run/monit.pid

set eventqueue
    basedir /var/lib/monit/events
    slots 100

set httpd port 2812 and
    use address localhost
    allow localhost

check process httpd_echo with pidfile /tmp/httpd_echo.pid
    start program = "{{ansible_python.executable}} /opt/httpd_echo.py start"
    stop program = "{{ansible_python.executable}} /opt/httpd_echo.py stop"
    if failed host localhost port 8082 then restart
