unittest2 ; python_version < '2.7'
importlib ; python_version < '2.7'

# requirement for the memcached cache plugin
python-memcached

# requirement for the redis cache plugin
redis

# requirement for the linode module
linode-python  # APIv3
linode_api4 ; python_version > '2.6'  # APIv4

# requirement for the gitlab module
python-gitlab < 2.3.0  # version 2.3.0 makes gitlab_runner tests fail
httmock

# requirement for kubevirt modules
openshift ; python_version >= '2.7'

# requirement for maven_artifact module
lxml
semantic_version
